/* STYLE GERAL */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #eeecec;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
}

/* CABEÇALHO */

.cabecalho {
    width: 100%;
    float: left;
    padding: 3% 4%;
}
.logo {
    width: 65px;
    height: 65px;
    float: left;
    background: url(../img/logo-mobile.png) center center/65px no-repeat;
    font-size: 0;
}
/* MENU */

.btn-menu {
    width: 56px;
    height: 56px;
    float: right;
    text-align: center;
    color: #fff;
    border-radius: 56px;
    cursor: pointer;
    background: linear-gradient(to right,#3fbaeb,#2ca1c5);
}
.menu {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.9);
    top: 0;
    left: 0;
}
.btn-close {
    font-size: 1.5em;
    color: #fff;
    float: right;
    cursor: pointer;
    margin: 2% 3% 0 0;
}
.menu ul {
    width: 100%;
    float: left;
    text-align: center;
}
.menu li {
    padding: 1.5%;
}
.menu li a {
    font-size: 2em;
    color: #fff;
    padding: 1.5% 3%;
}
.menu li a:hover {
    border: 1px solid rgb(84, 210, 226);
    border-radius: 10px;
    transition: 100ms;
    color: cyan;
}

/* BANNER */

.banner {
    width: 100%;
    float: left;
    text-align: center;
    padding: 3% 4%;
    background: url(../img/bg.jpg) no-repeat fixed;
}
.title {
    width: 100%;
}
.title h2 {
    font-size: 2.5em;
    color: #fff;
    font-weight: 700;
}
.title h3 {
    font-size: 1.5em;
    color: #fff;
}
.buttons {
    width: 100%;
    margin-top: 2%;
}
.btn-cadastrar {
    width: 100%;
    font-size: 1.5em;
    text-align: left;
    cursor: pointer;
    padding: 5%;
    border-radius: 5px;
    background-color: #fff;
    color: rgb(131, 115, 115);
}
.buttons i {
    float: right;
}
.btn-sobre {
    margin-top: 2%;
    width: 100%;
    font-size: 1.5em;
    text-align: left;
    cursor: pointer;
    padding: 5%;
    border-radius: 5px;
    background-color: #fff;
    color: rgb(131, 115, 115);
}
/* SERVIÇOS */

.servicos {
    width: 100%;
    float: left;
    padding: 3% 4%;
}
.servico {
    width: 100%;
    background-color: #fff;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 3%;
}
.servico img {
    border-radius: 7px 7px 0 0;
}
.inner {
    padding: 7%;
}
.inner a {
    font-size: 1.5em;
    color: rgb(32, 32, 32);
    font-weight: 700;
}
.inner h4 {
    font-size: 1.2em;
    color: rgb(51, 51, 51);
    margin-top: 2%;
}
.inner p {
    margin-top: 6%;
    color: rgb(51, 51, 51);
    line-height: 1.5em;
}
/* NEWSLETTER */

.newsletter {
    width: 100%;
    float: left;
    text-align: center;
    padding: 3% 4%;
    background-color: #2c2b2b;
}
.newsletter h2 {
    font-size: 1.5em;
    color: #fff;
    font-weight: 700;
}
.newsletter h3 {
    color: #fff;
}
.newsletter form {
    margin-top: 2%;
}
.newsletter input {
    background-color: rgb(51, 48, 48);
    color: #fff;
    border: 1px solid rgba(255,255,255,0.3);
    padding: 5%;
    border-radius: 5px;
    width: 100%;
}
.newsletter button {
    width: 100%;
    background-color: #fff;
    font-weight: 700;
    font-size: 1em;
    color: red;
    padding: 5%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2%;
}
/* RODAPÉ */

.rodape {
    color: rgba(29, 29, 29, 0.959);
    font-weight: 700;
    font-size: 1.3em;
    width: 100%;
    float: left;
    text-align: center;
    background: linear-gradient(to right,#6ce7d7,#11b8eb);
}
.social-icons a {
    font-size: 1.5em;
    margin-right: 5%;
    color: rgb(56, 171, 216);
}
.social-icons a:last-child {
    margin-right: 0;
}
.social-icons a:hover {
    color: #fff;
    transition: 1000ms;
}
.copyright {
    margin-top: 2%;
    color: rgb(56, 171, 216);
}
/* MOBILE FIRST (primordial: smartphones depois PCs)*/
@media screen and (min-width: 480px) {
.logo {
    width: 214px;
    float: left;
    background: url(../img/logo.png) center center/214px no-repeat;
}
.title h3 {
    font-size: 1.5em;
}
.title h2 {
    font-size: 2em;
    }
}

/* SMALL DEVICES - TABLETS */
@media screen and (min-width: 768px) {
    .servico {
        width: 49%;
        float: left;
        margin-right: 2%;
    }
    .servico:nth-child(2) {
        margin-right: 0;
    }
    .newsletter h2 {
        font-size: 2em;
    }
    .newsletter h3 {
        font-size: 1.5em;
    }
    .newsletter input {
        width: 70%;
        padding: 2%;
        float: left;
        margin-right: 1%;
    }
    .newsletter button {
        width: 29%;
        padding: 2%;
        float: right;
        margin-top: 0;
    }
}
/* MEDIUM DEVICES - TABLETS & DESKTOPS*/
@media screen and (min-width: 960px) {
    .title {
        width: 70%;
        float: left;
        text-align: left;
    }
    .buttons {
        width: 30%;
        float: right;
        margin-top: 0;
    }
    .servico {
        width: 32%;
    }
    .servico:nth-child(2) {
        margin-right: 2%;
    }
    .servico:nth-child(3) {
        margin-right: 0;
    }
    .newsletter input {
        width: 60%;
        float: none;
    }
    .newsletter button {
        width: 20%;
        float: none;
    }
}
/* LARGE DEVICES - WIDE SCREENS */
@media screen and (min-width: 1280px) {
    .btn-menu {
        display: none;
    }
    .btn-close {
        display: none;
    }
    .menu {
        width: auto;
        height: 56px;
        line-height: 56px;
        float: right;
        background-color: #eeecec;
        display: block !important;
        position: static;
    }
    .menu li {
        padding: 0;
        float: left;
    }
    .menu li a {
        color: #130400;
        font-size: 1em;
        padding: 15px;
    }
    .menu li a:hover {
        border: none;
        color: rgb(202, 38, 134);
        font-weight: 700;
    }
}
